@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-color: beige;
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the html element takes up the full height of the viewport */
}

body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body element takes up the full height of the viewport */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
}

h1 {
    margin: 1rem 0; /* Remove default margin */
    text-align: center; /* Center text horizontally */
    font-family: 'Roboto';
}

#background {
    background-color: #f02739;
    width: 500px;
    height: 300px;
    position: relative; /* Keep this for child elements */
}

#horizontal-line {
    background-color: #fefffd;
    position: absolute;
    width: 500px;
    height: 110px;
    top: 95px;/* Adjust as needed */
}